body{
  font-family: Helvetica, sans-serif;
}

#shape{
  width: 150px;
  height: 150px;
  background-color: red;
  display:none;
  position: relative;
}

.bold{
  font-weight: bold;
  font-style: italic;
}
.change{
    font-family: Tahoma, Geneva, sans-serif;
}

.green{
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 19px;
}

.red{
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 19px;
}

#naughty{
    height: 200px;
}
